.loadingContainer {
  /* layout */
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* box model */
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

.loadingImageContainer {
  @apply relative w-[90px] h-[50px];
}
