.skeletonCard {
    /* layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* box model */
    width: 100%;
    height: 100%;
}

.loadingImageContainer {
    /* layout */
    position: relative;

    /* box model */
    width: 90px;
    height: 50px;
}

.loadingImage {
    object-fit: contain;
}

.panelMotion {
    font-weight: 100; /* Required class for motion div */
}

.resizeHandleHorizontal {
    /* box model */
    width: 1px;
    margin-left: 4px;
    margin-right: 4px;

    /* visual */
    background-color: hsl(var(--border));

    /* state */
    transition: colors 0.3s ease-out;
}

.resizeHandleHorizontal:hover {
    background-color: #ff4f4f;
}

.resizeHandleVertical {
    /* box model */
    height: 1px;
    margin-top: 4px;
    margin-bottom: 4px;

    /* visual */
    background-color: hsl(var(--border));

    /* state */
    transition: colors 0.3s ease-out;
}

.resizeHandleVertical:hover {
    background-color: #ff4f4f;
}

.singleRowPanelGroup {
    height: 100%;
    width: 100%;
}

.resizeHandleInline {
    /* box model */
    width: 1px;
    margin-left: 4px;
    margin-right: 4px;

    /* visual */
    background-color: hsl(var(--border));

    /* state */
    transition: background-color 0.3s ease-out;
}

.resizeHandleInline:hover {
    background-color: #ff4f4f;
}

.mobilePanelGroup {
    height: 100%;
    width: 100%;
}

/* Mobile: Hide all resize handles */
@media (max-width: 767px) {
  .resizeHandleHorizontal,
  .resizeHandleVertical,
  .resizeHandleInline {
    display: none !important;
  }
}
