/* Layout Toggle Component Styles */

.dockButton {
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: all 200ms ease-out;
  color: rgba(255, 255, 255, 0.6);
}

.dockButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
}

.icon {
  height: 1rem;
  width: 1rem;
}

.settingsButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}