

.form{ @apply w-full relative max-w-xl mx-auto bg-white dark:bg-zinc-800 h-12 rounded-full overflow-hidden shadow-[0px_2px_3px_-1px_rgba(0,0,0,0.1),_0px_1px_0px_0px_rgba(25,28,33,0.02),_0px_0px_0px_1px_rgba(25,28,33,0.08)] transition duration-200; }
.formActive{ @apply bg-white-50; }
.canvas{ @apply absolute pointer-events-none text-base transform scale-50 top-[20%] left-2 sm:left-8 origin-top-left filter invert dark:invert-0 pr-20; }
.canvasAnimating{ @apply opacity-100; }
.canvasHidden{ @apply opacity-0; }
.input{ @apply w-full relative text-sm sm:text-base z-50 border-none dark:text-white bg-transparent text-black h-full rounded-full focus:outline-none focus:ring-0 pl-4 sm:pl-10 pr-20; }
.inputAnimating{ @apply text-transparent dark:text-transparent; }
.submitBtn{ @apply absolute right-2 top-1/2 z-50 -translate-y-1/2 h-8 w-8 rounded-full disabled:bg-white/40 bg-black dark:bg-zinc-900 dark:disabled:bg-zinc-800 transition duration-200 flex items-center justify-center; }
.placeholderText{ @apply dark:text-zinc-500 text-sm sm:text-base font-normal text-neutral-500 pl-4 sm:pl-12 text-left w-[calc(100%-2rem)] truncate; }

/* Arrow line animation */
.arrowLine {
  stroke-dasharray: 50%;
  stroke-dashoffset: 50%;
  transition: stroke-dashoffset 0.3s ease-out;
}

.arrowLineActive {
  stroke-dashoffset: 0;
}